
.nav-link:hover {
    background-color: grey;
    color: white;
} 

.nav-link {
    color: white;
} 

.nav-link:hover .fa {
    transition: all 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.activo {
    background-color: grey !important
}

.color-izq {
    background-color: rgb(87, 86, 86);
    min-height: 80vh;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.perfil {
    background-image: url("../img/fondo.gif");
    background-size: cover;
    background-position: center;
}

hr {
    color: white;
}
