
.nav-link:hover {
    background-color: grey;
    color: white;
} 

.nav-link {
    color: white;
} 

.nav-link:hover .fa {
    transition: all 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.activo {
    background-color: grey !important
}

